
<div class="card ">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Orientações</h5></li>
        <li class="collection-item">
            <p>Acima estáo os Documentos do estágio que devem ser levados a faculdade.</p>
        </li>
        <li class="collection-item">
            <p>Os documentos requerem ASSINATURA do termo de compromisso de Estágio Supervisionado.</p>
        </li>
        <li class="collection-item">
            <p>O Estágio supervisionado somente poderá ter inicio após a programação ter sido aprovada pela Coordenação do Estágio supervisionado.</p>
        </li>
        <li class="collection-item">
            <p>Condições para a aprovação no Estágio:</p>
            <ol>
                <li>
                    <p>Cumprimento da carga-horária obrigatória.</p>
                </li>
                <li>
                    <p>Observação da linguagem cientifica nos relatórios.</p>
                </li>
                <li>
                    <p>Entrega da documentação.</p>
                </li>
            </ol>
        </li>
        <li class="collection-item bg-light">
            <a href="">
                Clique aqui para as regras gerais do Estágio Supervisionado.
            </a>
        </li>
    </ul>
</div>
