@using ADE.Utilidades.Extensions

@{
    ViewData["Title"] = "Área do curso";
}
<div class="card-body height-100" style="padding:0">
    <div class="instrucao bg-white">
        <h2 class="card-body">Acesso a alteração de Instituição e Cursos</h2>
    </div>
    <div class="badge badge-info col-md-3">
        <a class="" href="./Instituicao/">
            <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                <span class="text-white" style="padding:5px">
                    Instituição
                </span>
            </h6>
        </a>
    </div>
    <div class="badge badge-info col-md-3">
        <a class="" href="./ListagemDocumentos/VisualizacaoDocumentosCurso/"">
            <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                <span class="text-white" style="padding:5px">
                    Documentos de Estágio
                </span>
            </h6>
        </a>
    </div>
</div>