<div id="chat-column-div" class="chat-column">
    <div id="chat" class="">
        <div id="conversation">
            <div id="messages">
            </div>
            <a href="#" data-toggle="tooltip" title="Ir para última mensagem">
                <div id="get-to-bottom" class="fa fa-angle-down chat-nav-arrow">
                </div>
            </a>
            <a href="#" data-toggle="tooltip" title="Ir para o topo">
                <div id="get-to-top" class="fa fa-angle-up chat-nav-arrow">
                </div>
            </a>
            <div id="conn-div" class="">
                <div class="connAnimation" id="conn-animation"></div>
                <div class="connAnimation" id="conn-animation2"></div>
                <div class="connAnimation" id="conn-animation3"></div>
            </div>
            <div id="loading" style="color:white"><span>.</span><span>.</span><span>.</span></div>
        </div>
    </div>
    <div id="chat-inputOutline" class="inputOutline hidden-chat">
        <div class="autocomplete row">
            <input id="textInput" class="input col-md-8" autofocus placeholder="Escreva sua mensagem" type="text">
            <button id="ButtonInput" class="btn btn-primary col-md-4">Enviar</button>
        </div>
    </div>
</div>
