@model ADE.Dominio.Models.Individuais.Instituicao
@using ADE.Utilidades.Extensions;

@Html.HiddenFor(modelItem => Model.Identificador)

<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <a class="dropdown-toggle">
                <div id="adminSelection@(Model.Identificador)Button" class="round adminSelectionButton">
                    @Model.ExibirEntidadeColorCoded()
                </div>
            </a>
        </div>
        <div class="collapsible-body">
            <div>
                @Model.MensagemDePropriedadesEmHTMLOmitindoAtributos("md-form align-left")
                <a href="#adminSelection@(Model.Identificador)Button" class="fa fa-arrow-up float-lg-rght"></a>
                @Html.ActionLink("Alterar", "Editar", "GerenciamentoInstituicao", new { idInstituicao = Model.Identificador }, new { Class = "btn btn-blue admin-add-btn" })
                <a class="btn btn-deep-orange" href="#delete-@Model.Identificador" data-toggle="collapse" aria-expanded="false">Excluir</a>
            </div>
            <a class="fa fa-info" href="./GerenciamentoInstituicao/VisualizarEntidade?id=@Model.Identificador" data-toggle="tooltip" data-placement="top" title="Visualizar alterações"></a>
            <div class="deleteDivOverlay collapse" id="delete-@Model.Identificador">
                <div class="deleteDiv">
                    @await Html.PartialAsync("_Excluir", Model)
                    <a class="btn btn-primary" href="#delete-@Model.Identificador" data-toggle="collapse" aria-expanded="false">Voltar</a>
                </div>
            </div>
        </div>
    </li>
</ul> 