@using Assistente_de_Estagio.Areas.Shared;
@using ADE.Dominio.Models.Individuais;
@using ADE.Utilidades.Extensions;
@model PaginatedList<Instituicao>

@{
    ViewData["Title"] = "Gerenciamento de Instituição";
    ViewData["Selection"] = "Instituicao";
}

<div class="row">
    <a href="./GerenciamentoInstituicao/Criar" class="floating-button btn-large waves-effect waves-light blue right"><i class="material-icons">add</i></a>
    @foreach (Instituicao instituicao in Model)
    {
        @await Html.PartialAsync("_ExibicaoInstituicao", instituicao)
        <hr />
    }
</div>