@model  string
<footer style="" class="footer">
    <a id="sidebar-contato" href="#" class="">   Contato  </a>  <a id="sidebar-sobre" href="/Ajuda/Sobre/Index" class="">    Sobre  </a>  
    <span class="font-smaller text-muted" style="justify-content:flex-start !important">Versão @Model</span>
</footer>