@using Assistente_de_Estagio.Areas.Shared;
@using ADE.Dominio.Models;
@using ADE.Utilidades.Extensions;
@model PaginatedList<Requisito>

@{
    ViewData["Title"] = "Gerenciamento de Requisitos";
    ViewData["Selection"] = "Requisito";
}

<div class="fix-row" style="text-align:center">
    <a href="./GerenciamentoRequisito/Criar" class="floating-button btn-large waves-effect waves-light blue right"><i class="material-icons">add</i></a>
    <div class="RequisitoTable right">
        @await Html.PartialAsync("_RequisitoTable", Model)
    </div>
</div>
@section Scripts{
    <script>
        setTimeout(setupfff,3000);
        function setupfff() {
            $('#log-table').DataTable({
                fixedHeader: true,
                info: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                responsive: true
            }).draw(true).columns.adjust();
        }
    </script>
}