<div class="padding-sideContainer card">
    <div class="card-header  close-button"></div>
    <div id="card-body info-modal-body" class="table-striped table-hover table-bordered SideContainer modal-body">

        <p class="order-xl-first">Ao lado estão os documentos do estágio que devem ser levados a faculdade</p>

        <p class="list-group-item-into">Os documentos requerem assinatura de termo de compromisso do Estágio Supervisionado</p>

        <p class="list-group-item-into">O Estágio Supervisionado somente poderá ter inicio após a programação ter sido aprovada pela Coordenação de Estãgio Supervisionado</p>

        <p class="list-group-item-into">Condições para aprovação no Estágio Supervisionado:</p>

        <ul>
            <li>Cumprimento das 200 horas de estágio</li>
            <li>Observação da linguagem cientifica nos relatórios</li>
            <li>Entrega da documentação</li>
        </ul>

        <p>Clique aqui para as regras gerais do Estágio Supervisionado</p>
    </div>
</div>