@using ADE.Apresentacao.Models
@model ADE.Apresentacao.Models.Elemento

@{string linkid = $"{Model.Nome}-elmt";}
<ul class="collapsible corr_display" onmouseout="document.getElementById('@linkid').click()">
    <li style="display: block ">
        <div class="collapsible-header sidebarCollapsibleHeader">
            <a id="@linkid" class="sidebar-link" onmouseover="this.click()">
                <i class="@Model.Icone"></i>
                <span class="sidebar-item-name">@Model.Nome</span>
            </a>
        </div>
        <div class="sidebarcollpsilble collapsible-body">
            <ul class="sidebar-list">

                <li>
                    <span class="">@Model.Nome</span>
                </li>

                @foreach (NavItem item in Model.NavItems)
                {
                    <li>
                        <a href="#">
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
</ul>