@{
    ViewData["Title"] = "Home Page";
}
<div id="interface-preenchimento-popup" class="pop-up" ng-app="">
    <div id="campos-requisitos" class="in-preenchimento">
        <h3 id="hint1" class="hint">Insira os dados a abaixo para preencher o documento:</h3>
        <form id="campos-documento" class="form"></form><div id="errors" class="hidden error"></div>
        <button type="submit" id="download" class="button"><p>Download</p></button>    <button type=submit id="print" class="button"><p>Imprimir</p></button>
    </div>
    <div id="campo-preview" class="in-preenchimento">
        <h3 id="hint2" class="hint">Visualização do documento</h3>
        <canvas id="pdf-image" class="canvas_div_pdf"></canvas>
    </div>
</div>
<script>
        var download = document.getElementById("download");
        var campoRequisitos = document.getElementById("campos-documento");
        var preview = document.getElementById("campo-preview");
        var textoPreview = "<?php echo $textoPreview; ?>"; //@ViewBag.TextoPreview
        var url = ".<?php echo $documento->getCaminho(); ?>.pdf";   // CARREGA O PDF NO SCRIPT 'load-pdf.js'
        var idDocumento = "<?php echo $idDocumento; ?>";
       
        var DadosRequisitos = '<?php echo $requisitoDeDocumento->getListaRequisitos(); ?>';
        DadosRequisitos = JSON.parse(DadosRequisitos);

        addCampos();

        var accept = false;
        download.addEventListener('click',function(){
            createDocument();
        });



        function createDocument(){
            var errors = document.getElementById("errors");
            var error = false;
            var thisInput = document.getElementById("campos-documento").elements;
            var errorText = document.createElement("p");
            var dadosAlunoTxt = new Array();
            for(var i=0;i<thisInput.length;i++){
                dadosAlunoTxt[i] = thisInput[i].value;
            }

            for(var i=0; i<thisInput.length;i++){
               // if(thisInput[i].type != "checkbox"){
                    if(thisInput[i].value==undefined || thisInput[i].value=="" || thisInput[i].value==null){
                        error=true;
                        thisInput[i].style.backgroundColor="#ffc1c1";
                    }else{
                         thisInput[i].style.backgroundColor="white";
                    }
                //}
            }



            //Test if had any error
            if(error==true && accept==false){

                errorText.innerHTML="Existem Campos vazios! corrija se quiser, caso contrario continue.";
                errors.appendChild(errorText);
                accept = true;
            }
            else if(accept==true || error==false)
            {
                var dadosAlunoJson = JSON.stringify( $(campoRequisitos).serializeArray() );
                if(accept==true)
                    errorText.innerHTML="Gerando documento com campos vazios";

                errorText.innerHTML="";
                $.ajax({
                    type: 'post',
                    dataType: 'text',
                    url: '_php/CreateDocument.php',
                    data: {dados:dadosAlunoJson,
                          idDocumento: idDocumento},
                    success: function(msg){
                        alert(msg);

                    }
                });
            }
        }

</script>
