
@model Assistente_de_Estagio.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar e-mail";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="form-group md-form">
        <p>Agradecemos por válidar o seu cadastro!<p>
        <a href="/" class="btn btn-primary">Continuar</a>
    </div>
</div>