@model Assistente_de_Estagio.Areas.Acesso.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}
<div class="container card-body" style="
    height: 100vh;
">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <h4>Informe seu e-mail.</h4>
    <div class="rounded bg-light card notification">
        @ViewBag.Retorno
    </div>
    <form action="/Account/ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group md-form">
            <label asp-for="Email"></label>
            <input type="email" id="Email" name="Email" class="form-control" />
            <span asp-validation-for="Email" for="Email" class="text-danger"></span>
        </div>
        <p>Um email contendo um token de troca de senha será enviado para o endereço fornecido, caso ele esteja cadastrado no sistema.</p>
        <a href="/" class="btn btn-primary">Voltar</a>
        <button type="submit" class="btn btn-info">Enviar</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
