@model Assistente_de_Estagio.Areas.Acesso.Models.ResetPasswordViewModel
@using ADE.Utilidades.Extensions;
@{
    ViewData["Title"] = "Resetar Senha";
}
@if (!User.ShowDefaultInterface(ViewData["Title"].ToString()))
{
    <div id="sidebar-column" class="ADE-Sidenav" style="z-index:1">

        <vc:side-bar usuario="null"></vc:side-bar>

    </div>
    <div id="body-column" class="ADE-Main">

        <div class="card-body">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <p class="h4-responsive">Formulário de reset de senha</p>
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="jumbotron">
                <div class="md-form">
                    <input type="hidden" asp-for="Token" />
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" placeholder="E-mail" value="@Model.Email" />
                </div>
                <div class="md-form">
                    <label asp-for="Password">Senha nova</label>
                    <input asp-for="Password" type="text" placeholder="Senha" />
                </div>
                <div class="md-form">
                    <label asp-for="ConfirmPassword">Confirme a senha</label>
                    <input asp-for="ConfirmPassword" type="text" placeholder="Confirme a senha" />
                </div>
                <input type="submit" class="btn badge-primary" value="Resetar" />
                <div asp-validation-summary="All"></div>
            </form>
            <a href="/" class="btn admin-add-button">Voltar</a>
        </div>

    </div>
}
else
{
    <div class="card-body">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p class="h4-responsive">Formulário de reset de senha</p>
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="jumbotron">
            <div class="md-form">
                <input type="hidden" asp-for="Token" />
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" placeholder="E-mail" value="@Model.Email" />
            </div>
            <div class="md-form">
                <label asp-for="Password">Senha nova</label>
                <input asp-for="Password" type="text" placeholder="Senha" />
            </div>
            <div class="md-form">
                <label asp-for="ConfirmPassword">Confirme a senha</label>
                <input asp-for="ConfirmPassword" type="text" placeholder="Confirme a senha" />
            </div>
            <input type="submit" class="btn badge-primary" value="Resetar" />
            <div asp-validation-summary="All"></div>
        </form>
        <a href="/" class="btn admin-add-button">Voltar</a>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
