@using Assistente_de_Estagio.Views.Shared.Components.LoadingCircleViewModel;
@model LoadingCircle;
@{ string active = !Model.Closed ? "active" : "";}
<div id="@Model.Id" class="preloader-wrapper big @active" style="margin: auto;">
    <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>