@model Assistente_de_Estagio.Areas.Principal.Shared.Components.IconeAdministracaoViewComponent.IconeAdministracaoViewComponent
<a class="fa fa-cog card-header-pills adm-color" href="/Administracao/@Model.Gerenciamento/VisualizarEntidade?id=@Model.Id"></a>