@model ADE.Dominio.Models.Individuais.NotificacaoIndividual

<div class="card mb5">
    <div class="card-header">@Model.Cabecalho</div>
    <div class="card-body">@Html.Raw(Model.Conteudo)</div>
    <div class="card-footer">@Model.DataHoraInclusao</div>
</div>