
@{
    ViewData["Title"] = "Suporte";
}
    <div class="card-body height-100" style="padding:0">
        <div class="instrucao bg-white">
            <h2 class="card-body">Acesso as áreas de Ajuda</h2>
        </div>
        <div class="badge badge-primary col-md-3">
            <a class="text-info" href="./FAQ/">
                <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="text-white" style="padding:5px">
                        Perguntas Frequentes
                    </span>
                </h6>
            </a>
        </div>
        <div class="badge badge-primary col-md-3">
            <a class="text-info" href="./DicasGerais/">
                <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="text-white" style="padding:5px">
                        Dicas Gerais
                    </span>
                </h6>
            </a>
        </div>
        <div class="badge badge-primary col-md-3">
            <a class="text-info" href="./Legislacao/">
                <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="text-white" style="padding:5px">
                        Legislação
                    </span>
                </h6>
            </a>
        </div>
        <div class="badge badge-primary col-md-3">
            <a class="text-info" href="./Regulamentacao/">
                <h6 class="border-top-0 border-bottom-0" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="text-white" style="padding:5px">
                        Regulamentação
                    </span>
                </h6>
            </a>
        </div>
    </div>