@model Assistente_de_Estagio.Areas.Shared.ModalCardViewModel
@{string collapse = Model.DefaultOpen == true ? " show" : "";}
@{string collapsejs = Model.DefaultOpen == true ? " .show" : "";}

    <div id="@Model.ModalId" class="modal fade @collapse" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Model.Title</h4>
                    <a class="tooltipped "  data-toggle="modal" data-target="#@Model.ModalId" aria-label="Close" data-tooltip="Fechar" data-placement="bottom" style="z-index:10">
                        <i class="material-icons ">close</i>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="max-height:500px;min-width: 220px;overflow-y:scroll">
                        @Html.Raw(Model.Texto)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="accept" onclick="AceitarTermos()" class="btn btn-primary waves-effect">Aceitar</button>
                    <a href="/Account/Logout" class="btn btn-default waves-effect">Rejeitar</a>

                </div>
                <form id="ModalForm" action="/Account/AceitarTermosCompromisso">
                </form>
            </div>
        </div>
    </div>
            
            